<div id="cart" class="row">
	
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		
		<h3>Shopping cart</h3>
		
		<div class="cart_display">
			<p>Your shopping cart is empty!</p>
		</div>
		
		<h3>Saved for later (-- items)</h3>	
		
		<div class="saved_later">
			<p>You have no items saved!</p>
		</div>
		
	</div>
	
</div>	
	
