<div id="login" class="row">
		
	<div id="signin" class="col-xs-12 col-md-2 col-md-offset-4">	
		<div><%= render 'devise/sessions/new' %></div>
	</div>
	
	
	<div id="register" class="col-xs-12 col-md-2">
		<div><%= render 'devise/registrations/new' %></div>
	</div>

</div>
