// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slider {
  margin: auto;
  width: 500px;
}

#carousel {
  margin: 0 auto;
  width: 700px;
}

#home_game_lists {
  margin: 20px auto;
}

#home_game_lists > div {
  h3, ol {
    width: 200px;
    margin: 5px auto;
  }
}