// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_index {
  
  #slider {
    margin: auto;
    width: 500px;
  }
  
  #carousel {
    margin: 0 auto;
    width: 700px;
  }
  
  #home_game_lists {
    margin: 20px auto;
  }
  
  #home_game_lists > div {
    h3, ol {
      width: 200px;
      margin: 5px auto;
    }
  }
}

#login {
  
  margin: 20px;
  
  form {
    border-top: solid 3px #fff;
  }
  
  #signin, #register {
    background-color: #eee;
    height: 350px;
    
    h3 {
      text-align: center;
    }
    
    div {
      width: 80%;  
      margin: 10px auto;
    }
  }
  
  #signin {
    border-right: solid 2px #fff;
  }
  
  #register {
    border-left: solid 2px #fff;
  }

  .submit {
    width: 100%;
    padding: 0 auto;
  }
  
}

